body {
    font-family: 'Oxanium';

}

section {
    position: absolute;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    justify-items: center;

}

.infor{
    text-align: right;
    margin-top: 5%;
}

.infor button{
    margin-right: 0;
    margin-left: 70%;
}

.fundologin {
    background-position: center;
    background-size: cover;
}

.container2 {
    align-items: flex-start;
}

.logopreta {
    width: 132px;
    height: 135px;
    margin-left: 60%;
    top: 13px;
}

h1 {
    width: 296px;
    height: 128px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: end;
    color: #2B9DB8;
    margin-bottom: 2%;
}

h2 {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    align-items: end;
}

a {
    text-decoration: none;
    color: #2B9DB8;
    font-size: 14px;
}

.checkbox-login{
    box-sizing: border-box;

    width: 22px;
    height: 14px;
    
    background: #F2F9FA;
    border: 1px solid #215683;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.form2 {
    width: 392px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -30%;
}

form {
    display: flex;
    width: 100%;
    align-items: flex-end;
    align-content: flex-end;
    gap: 25px 7px;
    flex-wrap: wrap;

    margin-top: 2%;
}

.informations{
    margin-top: 5%;
    margin-bottom: 5%;
}

.informations input {
    margin-left: 10%;
    display: flex;
    width: 90%;
    height: 6vh;
    padding: 10px 12px;
    align-items: flex-end;
    /* gap: 10px; */
    flex-shrink: 0;

    border-radius: 8px;
    border: 1px solid #204A7B;

    transition: box-shadow 0.3s ease;
}

/* EFEITO PRA INPUT MUDAR DE COR AO CLICAR*/
form :focus{
    box-shadow: inset 0 0 5px 3px #204A7B;
}