@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #fdfcfc;
}

.imgLogo{
    width: 19%;
    height: 19vh;
    flex-shrink: 0;

    margin-top: 2%;
    margin-left: 27px;
}

.imgLogo2{
    width: 132px;
    height: 135px;
    flex-shrink: 0;

    margin-top: 5%;
    margin-left: 70%;
}

.h2-title{
    color: #204A7B;
    font-family: Oxanium;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-question{
    color: #000;
    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -3%;
}

.a-question{
    color: #2B9DB8;
    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.button{
    display: flex;
    width: 30%;
    height: 4vh;
    padding: 22px 18px;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-radius: 6px;
    border: 2px solid #215683;
    background-color: transparent;

    margin-top : 3%;

    color: #000;
    font-family: Oxanium;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: bold;
    cursor: pointer;
}
.button:hover{
    border: 2px solid #215683;
    background-color: #215683;

    color: #ffffff;
}

.backGradient{
    position: absolute;
    width: 70%;
    height: 62vh;
    flex-shrink: 0;

    margin-top: 19%;
    margin-left: 20%;   

    border-radius: 1004px;
    background: rgba(42, 160, 185, 0.40);

    filter: blur(120px);
}

.backGradient2{
    position: absolute;
    width: 70%;
    height: 62vh;
    flex-shrink: 0;

    margin-top: 19%;
    margin-left: 20%;

    border-radius: 1004px;
    background: rgba(42, 160, 185, 0.40);

    filter: blur(120px);
}
/* 
.h2-title{
    color: #204A7B;
    font-family: Oxanium;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p-question{
    color: #000;
    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.a-question{
    color: #2B9DB8;
    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.a2{
    color: #000;
}

.button{
    display: flex;
    width: 30%;
    height: 2vh;
    padding: 24px 20px;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-radius: 6px;
    border: 2px solid #215683;
    background-color: transparent;

    margin-top : 5%;

    color: #000;
    font-family: Oxanium;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: bold;
    cursor: pointer;
}
.button:hover{
    border: 2px solid #215683;
    background-color: #215683;

    color: #ffffff;
}

.backGradient{
    position: absolute;
    width: 70%;
    height: 62vh;
    flex-shrink: 0;

    margin-top: 19%;

    border-radius: 1004px;
    background: rgba(42, 160, 185, 0.40);

    filter: blur(120px);
}

.backGradient2{
    position: absolute;
    width: 70%;
    height: 62vh;
    flex-shrink: 0;

    margin-top: 19%;

    border-radius: 1004px;
    background: rgba(42, 160, 185, 0.40);

    filter: blur(120px);
} */