/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} */

/* AS FONTES ESTÃO NO INDEX */
body {
   
    font-family: 'Oxanium', cursive;
    background-color: rgba(42, 160, 185, 0.4);
    max-width: auto;
    max-height: auto;
    display: flex;
 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-esquerda {
    display: flex;
    background-image: url("/src/img/login-img.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50%;
}

/* .img-logo {
    position: absolute;
    width: 132px;
    height: 135px;
    left: 1269px;
    top: 13px;
} */

form {
    
    background-position: right;
    width: 780px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-left: 200px; */

}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 50%;
 

}

.h1 {

    /* Faça seu Login! */
    /* position: relative; */
    width: 296px;
    height: 76px;
    /* left: 1016px; */
    /* top: 195px; */
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    text-align: right;
    color: #2B9DB8;

}

h2 {
    /* text-align: right; */
    font-size: 16px;
    color: #000000;
    /* line-height: 5px; */
    /* padding-bottom: 20px; */
}

.container form .inputContainer input {
    height: 48px;
    width: 382px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F2F9FA;
    color: #000000;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #204A7B;
    font-family: 'Oxanium', cursive;
    margin-bottom: 10px;

}

.container form .button {
    height: 44px;
    width: 171px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #F2F9FA;
    color: #000000;
    border: 2px solid #204A7B;
    font-family: 'Oxanium', cursive;


}

.container form .button:hover {
    cursor: pointer;
    color: #F2F9FA;
    transition: 1s;
    background-color: #204A7B;
}