* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
    /* font-family: 'Oxanium', cursive; */
 
}

body {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.body {
    background: linear-gradient(90deg, #50FAAB 10%, white 80%);
    width: 100%;
    height: 100%;
    padding: 10%;
}

.img-logo {
    margin-left: -5%;
    margin-top: -80%;
    height: auto;
    /* background-color: red; */
}

.circulo_azul2 {
    padding: 40% 0%;
    width: 100%;
    margin-left: -40%;
    margin-top: -75%;
    background: radial-gradient(rgba(116, 112, 181, 0.6), transparent 60%);
    border-radius: 40%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.texto_cadastro {
    padding: 20% 0;
    height: 10%;
    margin-top: -7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 350%;
    /* font-weight: 280; */
    color: #20497A;
    /* font-family: 'Oxanium', cursive; */
}

span {
    margin-top: 15%;
    font-size: 110%;
    /* font-family: 'Oxanium'; */
}

.caixa_botao {
    display: flex;
    justify-content: space-between;
    margin-left: -62%;
    
}

.button1 {
    padding: 8% 50%;
  margin: 18%;
  background-color: transparent; /* Tornar o fundo transparente */
  border: 2px solid #215683; /* Adicionar uma borda preta */
  color: black; 
  font-size: 30%;
  border-radius: 7px;
}
.button2 {
    padding: 8% 40%;
    margin: 18%;
    background-color: transparent; /* Tornar o fundo transparente */
    border: 2px solid #215683; /* Adicionar uma borda preta */
    color: black; 
    font-size: 30%;
    border-radius: 6px;
}



.button1:hover {
    background-color: #215683;
    color: white;
   
  }
  
.button2:hover {
    background-color: #215683;
    color: white;
   
  }

.quadrado1 {
    width: 23%;
    height: 39vh;
    border: 3px solid #215683;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 71%;
    margin-top: 0%;
}

.quadrado2 {
    width: 21%;
    height: 39vh;
    border: 3px solid #215683;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 80%;
    margin-top: -13%;
}

.quadrado3 {
    width: 25%;
    height: 42vh;
    border: 3px solid #bdeff1;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 68%;
    margin-top: 2%;
}

.quadrado4 {
    width: 21%;
    height: 39vh;
    border: 3px solid #bdeff1;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 78%;
    margin-top: -11.5%;
}
