* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.body {
    background: linear-gradient(90deg, #50FAAB 10%, white 80%);
    width: 100%;
    height: 100%;
    padding: 10%;
}

.img-logo {
    margin-left: -91%;
    margin-top: 1%;
    height: auto;
}

.circulo_azul2 {
    padding: 40% 0%;
    width: 100%;
    margin-left: -37%;
    margin-top: -78%;
    background: radial-gradient(rgba(116, 112, 181, 0.6), transparent 60%);
    border-radius: 40%;
}

.texto_cadastro {
    padding: 20% 0;
    height: 10%;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 350%;
    font-weight: 380;
    color: #20497A;
}

span {
    margin-top: 15%;
}

.caixa_botao {
    display: flex;
    justify-content: space-between;
    margin-left: -55%;
}

.button {
    padding: 11% 60%;
    margin: 20%;
}

.quadrado1 {
    width: 23%;
    height: 39vh;
    border: 3px solid #215683;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 69%;
    margin-top: -2%;
}

.quadrado2 {
    width: 21%;
    height: 39vh;
    border: 3px solid #215683;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 80%;
    margin-top: -15%;
}

.quadrado3 {
    width: 25%;
    height: 42vh;
    border: 3px solid #bdeff1;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 67%;
    margin-top: -5%;
}

.quadrado4 {
    width: 21%;
    height: 39vh;
    border: 3px solid #bdeff1;
    position: fixed;
    transform: rotate(16deg);
    margin-left: 76%;
    margin-top: -11.5%;
}
